.box_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0 0;
    padding: .5rem 0;
    flex-wrap: wrap;
}

.box_btn button {
    padding: .6rem 1rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    background-color: var(--color-primary);
    color: #fff;
}

.box_btn button:hover{
    cursor: pointer;
    box-shadow: none;
}

.box_btn .box_search{
    width: 10rem;
    padding: 0.4rem .5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: white;
    display: inline-flex;
    gap: .5rem;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    vertical-align: top;
}

.box_btn .box_search span{
    cursor: pointer;
}

.box_btn .box_search input{
    width: 75%;
}

.box_btn .box_search input::placeholder{
    color: var(--color-primary);
}

.show_filtros{
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

.show_filtros .icon_arrow{
    transition: all 300ms ease;
}

.show_filtros .collapsed{
    transform: rotate(180deg);
}

.box_filtros{
    transition: height .4s;
    overflow: hidden;
    background-color: #f1ffff;
    margin-top: 1rem;
    height: 0;
}

body.dark-theme-variables .box_filtros{
    background-color: #0A181C;
}

.box_filtros > div{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.box_filtros.ativo{
    height: 17rem;
}

.box_filtros .grupo_box_input{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 1rem 0.5rem 0;
    position: relative;
    height: max-content;
    width: 24rem;
}

.box_filtros .grupo_box_input > label{
    width: 100%;
}

.box_filtros .grupo_box_input .box_input{
    margin: 0;
    flex-direction: row;
    height: fit-content;
    align-items: center;
}

@media (max-width: 767px) {
    .box_filtros.ativo{
        height: 28rem;
    }
}

@media (max-width: 404px) {
    .box_filtros.ativo{
        height: 38rem;
    }
    .box_filtros .grupo_box_input .box_input{
        flex-direction: column;
        align-items: flex-start;
    }
}

.box_filtros .btn_dropdown{
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    width: 16rem;
}

.box_filtros .btn_dropdown .filter_option{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box_filtros .box_lista_categoria{
    position: absolute;
    top: 4.5rem;
    width: 100%;
    height: 10rem;
    max-height: 10rem;
    overflow: auto;
    z-index: 1;
}

.box_filtros .box_lista_categoria ul{
    top: 0;
    margin: 0;
}

.box_filtros .box_lista_categoria ul li.checked:before {
  content: '\2713';
  display: inline-block;
  color: var(--color-primary);
  padding: 0 1rem 0 0;
  font-weight: bold;
}

.box_filtros .box_lista_categoria ul a{
    color: #000;
}

.vazio{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    box-shadow: var(--box-shadow);
    padding: 0 1rem;
    flex-direction: column;
}

.vazio h1{
    text-align: center;
}

.vazio button {
    padding: .5rem 1rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    background-color: var(--color-primary);
    color: #fff;
    margin-top: 2rem;
}

.vazio button:hover {
    cursor: pointer;
    box-shadow: none;
}

.table{
    display: block;
    width: 100%;
    margin: 0 auto;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border: 1px solid var(--color-light);
    overflow: auto;
    text-align: center;
}

.table:hover{
    box-shadow: none;
}

.table .head_table{
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    min-width: 700px;
}

.table .body_table div{
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    align-items: center;
    height: 3.7rem;
    min-width: 700px;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.table .body_table div a{
    text-align: center;
}

.table .body_table div:last-child{
    border: none;
}

.table .body_table div a:last-child span{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    transition: all ease 300ms;
    position: relative;
}

.table .body_table div a:last-child span:hover{
    box-shadow: none;
}

.table .body_table div a:last-child span.pagar{
    background-color: var(--color-primary);
}

.table .body_table div a:last-child span.editar{
    background-color: var(--color-primary-light);
}

.table .body_table div a:last-child span.deletar{
    background-color: var(--color-danger);
}

.table .body_table div a:last-child span.estornar{
    background-color: var(--color-warning);
}

.table .body_table div a:last-child span:after , .table .body_table div a:last-child span:before{
    position: absolute;
    pointer-events: none;
    -webkit-font-smoothing: auto;
    text-rendering: auto;
    visibility: hidden;
    opacity: 0;
    transition: all .12s ease-in;
    z-index: 1;
    font-family: poppins, sans-serif;
}

.table .body_table div a:last-child span:after {
    content: attr(data-texto);
    padding: 5px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: 200;
    white-space: pre;
    border-radius: 3px;
    background: #505050;
    bottom: calc(100% + 15px);
}

.table .body_table div a:last-child span:before {
    content: "";
    border: 6px solid #505050;
    top: -15px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.table .body_table div a:last-child span:hover::after, .table .body_table div a:last-child span:hover::before{
    visibility: visible;
    opacity: 1;
}

.back_box_compra, .back_box_pagamento{
    position: fixed;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_box_compra .box_compra, .back_box_pagamento .box_pagamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 600px;
    width: 90vw;
    background-color: var(--color-white);
    border: solid 1px gainsboro;
    padding: 1rem;
    border-radius: 0.5rem;
    max-height: calc(calc(var(--vh, 1vh) * 100) - 2rem);
    overflow: auto;
}

.back_box_compra .top, .back_box_pagamento .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 .5rem 0;
}

.back_box_compra .top .close, .back_box_pagamento .top .close{
    font-weight: bold;
    cursor: pointer;
}

.box_filtros input, .back_box_compra input, .back_box_compra textarea, .back_box_compra .valor_total, 
.back_box_pagamento input, .back_box_pagamento textarea, .back_box_pagamento .valor_total, 
.back_box_pagamento .nome_loja, .back_box_pagamento select, .back_box_pagamento .valor_parcela_pagamento{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: .5rem;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    box-shadow: inset 5rem 5rem white;
    color: #000;
}

.back_box_compra input[disabled], .back_box_compra .valor_total,
.back_box_pagamento input[disabled], .back_box_pagamento .valor_total, 
.back_box_pagamento .nome_loja, .back_box_pagamento .valor_parcela_pagamento{
    background-color: #f3f3f3;
    box-shadow: none;
}

.back_box_compra .bottom, .back_box_pagamento .bottom{
    margin: 2rem 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back_box_compra button, .back_box_pagamento button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    color: white;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    transition: all ease 300ms;
}

.back_box_compra button:hover, .back_box_pagamento button:hover{
    box-shadow: none;
}

.back_box_compra button.adicionar, .back_box_pagamento  button.pagar{
    background-color: var(--color-primary);
}

.back_box_compra button.cancelar, .back_box_pagamento button.cancelar{
    background-color: #3b3b3b;
}

.back_box_compra button.gerar_parcelas, .back_box_pagamento button.gerar_parcelas{
    padding: 0.6rem 1.5rem;
    background-color: #0298cf;
}

.back_box_compra .qtd_parcela{
    display: flex;
    align-items: flex-end;
}

.controle_grafico{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controle_grafico select{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    width: auto;
    padding: .5rem;
    transition: all .1s linear;
    appearance: auto;
    color: #000;
}

.controle_grafico select option{
    border-radius: 0;
}


@media (min-width: 700px) {
    

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    position: absolute;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary); 
  }
}